/************************ TASK ONE ******************************/
/* The side navigation menu */
 .sidenav {
    margin-left: 39px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    border: rgb(41, 57, 85) solid 2px;
}

/* The navigation menu icons */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
}

.sidenav .dockbtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 18px;
    margin-left: 50px;
    color: #000000;
}
.sidenav .iconBar{
    height: 25px;
    width: auto;
    padding-top: 2px;
}

#LEFTpanel{
    background-color: rgb(41, 57, 85);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

div.toggleBtn {
    margin-top: 25px;
    height: 5px;
    transform: rotate(90deg);
    font-size: 12px;
    color: rgb(255, 255, 255);
}

div.tile {
    position: absolute;
    display: inline;
    top: 5px;
    width: 8px;
    height: 45px;
    background-color: rgb(70, 90, 125);
}
/************************************************* 2 *********************************************************/
/* Second side navigation menu */
.sidenavTwo {
    margin-left: 39px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border: rgb(41, 57, 85) solid 2px;
}

/* The navigation menu icons */
.sidenavTwo a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}

.sidenavTwo .iconBar{
    height: 25px;
    width: auto;
    padding-top: 2px;
}
.sidenavTwo .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
}
.sidenavTwo .dockbtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 18px;
    margin-left: 50px;
    color: #000000;
}

#mainBody {
    margin-left: 40px;
    transition: margin-left .5s;
    padding: 20px;
    border: #111 solid 2px;
}

div.toggleBtnTwo {
    margin-top: 55px;
    height: 6px;
    transform: rotate(90deg);
    font-size: 12px;
    color: rgb(255, 255, 255);
}
div.tileTwo {
    position: absolute;
    display: inline;
    top: 65px;
    width: 8px;
    height: 45px;
    background-color: rgb(70, 90, 125);
}

/******************************************* RIGHT PANEL **************************************************/
#RIGHTpanel {
    background-color: rgb(41, 57, 85);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
/* Three side navigation menu */
.sidenavThree {
    margin-right: 44px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    border: rgb(41, 57, 85) solid 2px;
}
/* The navigation menu icons */
.sidenavThree a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}
.sidenavThree .iconBar{
    height: 25px;
    width: auto;
    padding-top: 2px;
}
.sidenavThree .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
}
.sidenavThree .dockbtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 18px;
    margin-left: 50px;
    color: #000000;
}
div.toggleBtnThree {
    margin-top: 25px;
    height: 5px;
    transform: rotate(90deg);
    font-size: 12px;
    color: rgb(255, 255, 255);
}
div.tileThree {
    position: absolute;
    display: inline;
    top: 5px;
    width: 8px;
    height: 45px;
    z-index: 9;
    background-color: rgb(70, 90, 125);
}
/******************************************* 4 *******************************************************/
/* fourth side nav menu */
.sidenavFour {
    margin-right: 44px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    border: rgb(41, 57, 85) solid 2px;
}
/* nav menu icons */
.sidenavFour a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}
.sidenavFour .iconBar{
    height: 25px;
    width: auto;
    padding-top: 2px;
}
.sidenavFour .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
}
.sidenavFour .dockbtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 18px;
    margin-left: 50px;
    color: #000000;
}
div.toggleBtnFour {
    margin-top: 55px;
    height: 6px;
    transform: rotate(90deg);
    font-size: 12px;
    color: rgb(255, 255, 255);
}
div.tileFour {
    position: absolute;
    display: inline;
    top: 65px;
    width: 8px;
    height: 45px;
    z-index: 9;
    background-color: rgb(70, 90, 125);
}
