 /* The side navigation menu */
 .sidenav {
    margin-left: 39px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(255, 255, 255);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border: rgb(41, 57, 85) solid 2px;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
    margin-left: 50px;
}

.sidenav .dockbtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 18px;
    margin-left: 50px;
    color: #000000;
}
.sidenav .iconBar{
    height: 25px;
    width:auto;
    padding-top: 2px;
}

#main {
    margin-left: 39px;
    transition: margin-left .5s;
    padding: 20px;
    border: #111 solid 2px;
}

#openBar {
    background-color: rgb(41, 57, 85);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

div.toggleBtn {
    margin-top: 25px;
    height: 5px;
    transform: rotate(90deg);
    font-size: 12px;
    color: rgb(255, 255, 255);
}

div.tile {
    position: absolute;
    display: inline;
    top: 5px;
    width: 8px;
    height: 45px;
    background-color: rgb(70, 90, 125);
}